<section class="container acct-container clear">
    ${require('./pcc-secondary-header.html')}
    <eds-tabs class="eds" id="account__main">
        ${require('./eds-tabs.html')}
        <eds-tab aria-label="A One Zero Zero Zero Zero Five Six case" aria-expanded="false" label="A1000056" class="eds accountsTabPanel" aria-hidden="false" id="tab-panel-0" aria-labelledby="tab-0" role="tabpanel">
            <main class="containerFlex marginTop20">
                <div class="containerSide left" id="accountContact">
                    ${require('./profile-details.html')}
                    ${require('./collection-info.html')}
                    ${require('./customer-preference.html')}
                    ${require('./dca.html')}
                </div>
                <div class="containerMiddle" aria-label="Account summary section containing account details in tabular format" tabindex="0">
                    <eds-card class="eds marginBtm46">
                        <header>
                            <div>
                                <eds-dropdown class="eds act-dd"><label class="style-scope eds-dropdown"></label>
                                    <label for="containerMiddle__dropdown">Account summary Dropdown</label>
                                    <select class="eds-dropdown-trigger style-scope eds-dropdown" tabindex="0" id="containerMiddle__dropdown" title="Dropdown - account summary selected"> 
                                        <option class="eds-dropdown-value style-scope eds-dropdown">Account Summary</option>
                                        <span class="eds-dropdown-placeholder style-scope eds-dropdown"></span>
                                        <span class="eds-dropdown-arrow style-scope eds-dropdown"></span>
                                    </select>
                                </eds-dropdown>
                            </div>
                            <div>

                            </div>
                        </header>
                        <main role="main" tabindex="0">
                            <div class="table middle  tabledata" role="presentation">
                                <table>
                                    <thead>
                                        <tr class="row font-wt500">
                                            <td class="cell ">

                                            </td>
                                            <td aria-label="Date" class="cell" tabindex="0">        
                                                    Date
                                            </td>
                                            <td aria-label="Code" class="cell" tabindex="0">
                                                    Code
                                            </td>
                                        </tr>
                                        <tr>
                                                
                                        </tr>
                                    </thead>
                                    <tbody class="oddHighlight">
                                        <tr class="row">
                                            <td class="cell" tabindex="0">
                                                Last Letter
                                            </td>
                                            <td class="cell" tabindex="0">
                                                16/02/2018
        
                                            </td>
                                            <td class="cell" tabindex="0">
                                                MR002
                                            </td>
                                        </tr>
                                        <tr class="row">
                                            <td class="cell" tabindex="0">
                                                Last Letter 1
                                            </td>
                                            <td class="cell" tabindex="0">
                                                10/03/2018
                                            </td>
                                            <td class="cell" tabindex="0">
                                                MR001
                                            </td>
                                        </tr>
                                        <tr class="row">
                                            <td class="cell" tabindex="0">
                                                Last Reg Ltr
                                            </td>
                                            <td class="cell" tabindex="0">
                                                21/03/2018
                                            </td>
                                            <td class="cell" tabindex="0">
                                                REG1
                                            </td>
                                        </tr>
                                        <tr class="row marginBtm20">
                                            <td class="cell" tabindex="0">
                                                Returned Mail Flag
                                            </td>
                                            <td class="cell" tabindex="0">
                                                -
                                            </td>
                                            <td class="cell" tabindex="0">
                                                -
                                            </td>
                                        </tr>
                                        <tr class="row">
                                            <td class="cell" tabindex="0">
                                                Last SMS
                                            </td>
                                            <td class="cell" tabindex="0">
                                                20/03/2018
        
                                            </td>
                                            <td class="cell" tabindex="0">
                                                OK
                                            </td>
                                        </tr>
                                        <tr class="row">
                                            <td class="cell" tabindex="0">
                                                Last Dialler Call
                                            </td>
                                            <td class="cell" tabindex="0">
                                                19/03/2018
                                            </td>
                                            <td class="cell" tabindex="0">
                                                RPC
                                            </td>
                                        </tr>
                                        <tr class="row">
                                            <td class="cell" tabindex="0">
                                                Last Dialler Call-1
                                            </td>
                                            <td class="cell" tabindex="0">
                                                12/03/2018
                                            </td>
                                            <td class="cell" tabindex="0">
                                                No answer
                                            </td>
                                        </tr>
                                        <tr class="row">
                                            <td class="cell" tabindex="0">
                                                Next Action
                                            </td>
                                            <td class="cell" tabindex="0">
                                                n/a
                                            </td>
                                            <td class="cell">
        
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p></p>
                        </main>
                    </eds-card>
                    ${require('./remainder.html')}
                </div>
                <div class="containerSide" id="accountsActivity">
                    ${require('./activites.html')}
                </div>
            </main>
        </eds-tab>
        <eds-tab label="Profile" class="eds accountsTabPanel" id="tab-panel-1" aria-labelledby="tab-1" aria-hidden="false"
            role="tabpanel" active="true">
                ${require('./contact-details.html')}
        </eds-tab>
        <eds-tab aria-expanded="true" label="Promise To Pay" class="eds accountsTabPanel" aria-hidden="false" tabindex="-1" id="tab-panel-3"
            aria-labelledby="tab-3" role="tabpanel">
            ${require('./promise-pay.html')}
        </eds-tab>
    </eds-tabs>
</section>