<eds-card background="gray" class="eds">
    <header>
        <h4>
            <eds-icon class="round-border eds" icon="folder_shared" style="color:#fff" library="material-icon-font"><i
                    class="api-icon-element material-icons style-scope eds-icon cur--auto" style="transform: scale(1.35);">folder_shared</i></eds-icon>A10005604
        </h4>
    </header>
    <main>
        <div class="table">
            <div class="row">
                <div class="cell">
                    Card Type
                </div>
                <div class="cell">
                    MasterCard
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Brand
                </div>
                <div class="cell">
                    Co Brand
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Retailer
                </div>
                <div class="cell">
                    Debenhams
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Card Ending
                </div>
                <div class="cell">
                    ****1234
                </div>
            </div>
        </div>
        <hr>
        <eds-accordion style="border:0" class="eds" role="tablist">
            <eds-accordion-panel class="greyHeading" label="Account Details" expandedlabel="Account Details"
                active="" role="tab"><button class="eds-accordion-label"><span class="eds-accordion-label-text">Account
                        Details</span><span class="eds-accordion-label-text">Account Details</span><span
                        class="eds-accordion-caret"></span></button>
                <div class="table">
                    <div class="row">
                        <div class="cell">
                            Arrangement
                        </div>
                        <div class="cell">
                            Y
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            Gone Away
                        </div>
                        <div class="cell">
                            N
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            Compliant
                        </div>
                        <div class="cell">
                            N
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            Fraud
                        </div>
                        <div class="cell">
                            N
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            Insolvent
                        </div>
                        <div class="cell">
                            N
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            DMC
                        </div>
                        <div class="cell">
                            N
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            DCA
                        </div>
                        <div class="cell">
                            N
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            DP
                        </div>
                        <div class="cell">
                            N
                        </div>
                    </div>
                </div>
            </eds-accordion-panel>
        </eds-accordion>
    </main>
</eds-card>