<eds-tabs background="gray" class="eds" role="complementary">
    <ul class="tab-labels style-scope eds-tabs" role="tablist">
        <li role="presentation" class="style-scope eds-tabs">
            <a href="javascript:void(0);" id="tab-activities" aria-selected="true" role="tab" class="style-scope eds-tabs">
                Activities
            </a>
        </li>
    </ul>
    <ul class="style-scope eds-tabs activity-tabs">
        <li role="presentation" class="style-scope eds-tabs promisepay__link">
            <a id="tab-3" onclick="switchParentTab('3')" aria-controls="tab-panel-3" aria-selected="true" href="javascript:void(0);"
                role="tab" class="style-scope eds-tabs">
                Promise to Pay
            </a>
        </li>
        <li onclick="toggleMemo()" role="presentation" class="style-scope eds-tabs memo-tab bor-top--1 memodetail">
            <a id=" " aria-controls="Memo" aria-selected="false" href="javascript:void(0);" role="tab" class="style-scope eds-tabs">Memo
                <span class="eds-accordion-caret"></span></a>
            <ul>
                <li>
                    <a id="" aria-controls="Memo" aria-selected="false" href="javascript:void(0);" role="tab" class="style-scope eds-tabs cur--auto memo__links"
                        tabindex="0">Standard
                        Memo</a>
                </li>
                <li>
                    <a id=" " aria-controls="Memo" aria-selected="false" href="javascript:void(0);" role="tab" class="style-scope eds-tabs cur--auto memo__links"
                        tabindex="0">Important
                        Memo</a>
                </li>
            </ul>
        </li>
        <li role="presentation" class="style-scope eds-tabs"><a id=" " aria-controls="Move to Arrangement"
                aria-selected="false" href="javascript:void(0);" role="tab" class="style-scope eds-tabs cur--auto memo__links"
                tabindex="0">Move to Arrangement</a></li>
        <li role="presentation" class="style-scope eds-tabs"><a id=" " aria-controls="Referral" aria-selected="false"
                href="javascript:void(0);" role="tab" class="style-scope eds-tabs cur--auto memo__links" tabindex="0">Referral</a></li>
        <li role="presentation" class="style-scope eds-tabs"><a id=" " aria-controls="Report Account Exceptions"
                aria-selected="false" href="javascript:void(0);" role="tab" class="style-scope eds-tabs cur--auto memo__links"
                tabindex="0">Report Account
                Exceptions</a></li>
    </ul>
    <eds-tab label="Alerts" class="eds" aria-hidden="true" id="tab-panel-0" aria-labelledby="tab-0" role="tabpanel">
        <p>
            <eds-alert motif="error" background="white" class="eds">
                <div class="eds-alert-sidebar style-scope eds-alert"></div>
                <div class="eds-alert-close-icon style-scope eds-alert">×</div>
                <div class="eds-alert-content style-scope eds-alert">
                    This is an example of an alert note
                </div>
            </eds-alert>
        </p>
    </eds-tab>
    <eds-tab label="Activities" class="eds" role="tabpanel">
        <p>
            Activities content...
        </p>
    </eds-tab>
</eds-tabs>

<section class="notes-tab" role="contentinfo">
    <eds-accordion class="greyHeading eds marginBtm20 note-container" background="white" role="tablist" tabindex="0">
        <eds-accordion-panel label="Notes" aria-expanded="false" expandedlabel="Notes" role="tab">
            <button class="eds-accordion-label cur--auto">
                <span>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
                            <title>icoComment</title>
                            <desc>Created with Sketch.</desc>
                            <defs>
                                <filter x="-3.7%" y="-1.8%" width="107.3%" height="105.6%" filterUnits="objectBoundingBox" id="filter-1">
                                    <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
                                    <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
                                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.2 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"/>
                                    <feMerge>
                                        <feMergeNode in="shadowMatrixOuter1"/>
                                        <feMergeNode in="SourceGraphic"/>
                                    </feMerge>
                                </filter>
                            </defs>
                            <g id="Accessibility-(1680)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="SIT---Account-Overview" transform="translate(-1399.000000, -792.000000)" fill="#426DA9" fill-rule="nonzero">
                                    <g id="NOTE-PAD" filter="url(#filter-1)" transform="translate(1380.000000, 776.000000)">
                                        <path d="M28.6,34 C28.1581722,34 27.8,33.6418278 27.8,33.2 L27.8,30.8 L24.6,30.8 C23.7163444,30.8 23,30.0836556 23,29.2 L23,19.6 C23,18.712 23.72,18 24.6,18 L37.4,18 C38.2836556,18 39,18.7163444 39,19.6 L39,29.2 C39,30.0836556 38.2836556,30.8 37.4,30.8 L32.52,30.8 L29.56,33.768 C29.4,33.92 29.2,34 29,34 L28.6,34 Z M29.4,29.2 L29.4,31.664 L31.864,29.2 L37.4,29.2 L37.4,19.6 L24.6,19.6 L24.6,29.2 L29.4,29.2 Z M26.2,22 L35.8,22 L35.8,23.6 L26.2,23.6 L26.2,22 Z M26.2,25.2 L33.4,25.2 L33.4,26.8 L26.2,26.8 L26.2,25.2 Z" id="icoComment"/>
                                    </g>
                                </g>
                            </g>
                        </svg>
            </span>
                <span class="eds-accordion-label-text text-Cap"> Notes </span>
                <span class="eds-accordion-label-text text-Cap"> Notes </span>
                <span class="eds-accordion-caret"></span>
            </button>
            <label for="notes__text" class="search__visuallyhidden">Enter text in notes</label><textarea class="scroll"
                name="" id="notes__text" cols="30" rows="19"></textarea>
        </eds-accordion-panel>
        <div class="table">
            <div class="row">
                <div class="cell pad-top--8">
                    Last saved 02:05 pm
                </div>
                <div class="cell">
                    <button aria-label="Click to save note" class="note-btn">Save Note</button>
                </div>
            </div>
        </div>
    </eds-accordion>
</section>