<div class="caselist">
	<h4 class="caselist__visuallyhidden">List of recent cases displayed</h4>
	<div class="caselist__cont" aria-labelledby="caselist__recent">
		<h4 class="caselist__heading" id="caselist__recent">
			Recent Cases
			<button class="btn btn--viewall" tabindex="-1">View All</button>
		</h4>
		<div class="caselist__case" tabindex="3">
			<div class="caselist__box">
				<h5 class="caselist__name">Richard Hedges</h5>
				<p class="caselist__number" aria-label="A One Zero Zero Zero Zero one Zero">A1000010</p>
				<a tabindex="3" class="caselist__link cur--auto" href="javascript:void(0);" aria-label="+1 related" title="+1 related">
					+1 related
					<svg class="mar-left--3 ver-aln--mdl" width="9px" height="14px" viewBox="0 0 9 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
						<title>Icons/18x18/chevron/right</title>
						<desc>Created with Sketch.</desc>
						<defs></defs>
						<g id="Accessibility-(1680)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g id="Dashboard---Case-Mgmt---Card-View-(1680)" transform="translate(-286.000000, -587.000000)" fill="#426DA9" fill-rule="nonzero">
								<g id="case-1/3-copy-23" transform="translate(196.000000, 518.000000)">
									<g id="Icons/18x18/chevron/right" transform="translate(90.000000, 69.000000)">
										<polygon id="Shape" points="0.625 12.1525 5.7775 7 0.625 1.83625 2.21125 0.25 8.96125 7 2.21125 13.75"></polygon>
									</g>
								</g>
							</g>
						</g>
					</svg>
				</a>
				<i class="caselist__profileicon"></i>
			</div>
			<div class="caselist__box caselist--nobg">
				<p class="caselist__balance">
					<span class="caselist__label">Debt Balance</span>
					<span class="caselist__value">£300.00</span>
				</p>
				<p class="caselist__balance">
					<span class="caselist__label">Recoverable</span>
					<span class="caselist__value">£150.00</span>
				</p>
				<p class="caselist__balance">
					<span class="caselist__label">Non-Recoverable</span>
					<span class="caselist__value">£150.00</span>
				</p>
			</div>
			<div class="caselist__info">
				<svg aria-hidden="true" class="caselist__docicon" width="14px" height="20px" viewBox="0 0 14 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
					<title>file-document-outline copy</title>
					<desc>Created with Sketch.</desc>
					<defs></defs>
					<g id="Accessibility-(1680)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g id="Dashboard---Case-Mgmt---Card-View-(1680)" transform="translate(-215.000000, -735.000000)" fill="#AF1685" fill-rule="nonzero">
							<g id="case-1/3-copy-23" transform="translate(196.000000, 518.000000)">
								<g id="Info" transform="translate(0.000000, 115.000000)">
									<g id="file-document-outline-copy" transform="translate(19.000000, 102.666667)">
										<path d="M0,1.86666667 L0,16.8 C0,17.8309315 0.783501688,18.6666667 1.75,18.6666667 L12.25,18.6666667 C13.2164983,18.6666667 14,17.8309315 14,16.8 L14,5.6 L8.75,0 L1.75,0 C0.783501688,0 0,0.835735134 0,1.86666667 Z M1.75,1.86666667 L7.875,1.86666667 L7.875,6.53333333 L12.25,6.53333333 L12.25,16.8 L1.75,16.8 L1.75,1.86666667 Z M3.5,9.33333333 L3.5,11.2 L10.5,11.2 L10.5,9.33333333 L3.5,9.33333333 Z M3.5,13.0666667 L3.5,14.9333333 L7.875,14.9333333 L7.875,13.0666667 L3.5,13.0666667 Z" id="Shape"></path>
									</g>
								</g>
							</g>
						</g>
					</g>
				</svg>
				<h6 class="caselist__infoname"><b class="caselist__boldtext">New Arrangement</b></h6>
				<p class="caselist__infotime">today, 09:42</p>
				<div class="caselist__user">
					<svg class="ver-aln--txtop" width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
						<title>Agent</title>
						<desc>Created with Sketch.</desc>
						<defs></defs>
						<g id="Accessibility-(1680)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g id="Dashboard---Case-Mgmt---Card-View-(1680)" transform="translate(-239.000000, -821.000000)" fill="#888888" fill-rule="nonzero">
								<g id="case-1/3-copy-23" transform="translate(196.000000, 518.000000)">
									<g id="Group-6" transform="translate(43.000000, 303.000000)">
										<path d="M7,12.04 C5.25,12.04 3.703,11.144 2.8,9.8 C2.821,8.4 5.6,7.63 7,7.63 C8.4,7.63 11.179,8.4 11.2,9.8 C10.297,11.144 8.75,12.04 7,12.04 Z M7,2.1 C8.15979797,2.1 9.1,3.04020203 9.1,4.2 C9.1,5.35979797 8.15979797,6.3 7,6.3 C5.84020203,6.3 4.9,5.35979797 4.9,4.2 C4.9,3.04020203 5.84020203,2.1 7,2.1 Z M7,0 C3.13400675,-1.55431223e-15 3.10862447e-16,3.13400675 0,7 C-9.32587341e-16,8.85651543 0.737497883,10.6369928 2.05025253,11.9497475 C3.36300718,13.2625021 5.14348457,14 7,14 C8.85651543,14 10.6369928,13.2625021 11.9497475,11.9497475 C13.2625021,10.6369928 14,8.85651543 14,7 C14,3.129 10.85,0 7,0 Z" id="Shape"></path>
									</g>
								</g>
							</g>
						</g>
					</svg>
					Martin Flynn
				</div>
			</div>
		</div>
		<div class="caselist__case" aria-hidden="true">
			<div class="caselist__box">
				<h5 class="caselist__name">Christine Kochanski</h5>
				<p class="caselist__number">A1756385</p>
				<a class="caselist__link cur--auto" href="javascript:void(0);" title="+3 related" tabindex="-1">
					+3 related
					<svg class="mar-left--3 ver-aln--mdl" width="9px" height="14px" viewBox="0 0 9 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
						<title>Icons/18x18/chevron/right</title>
						<desc>Created with Sketch.</desc>
						<defs></defs>
						<g id="Accessibility-(1680)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g id="Dashboard---Case-Mgmt---Card-View-(1680)" transform="translate(-286.000000, -587.000000)" fill="#426DA9" fill-rule="nonzero">
								<g id="case-1/3-copy-23" transform="translate(196.000000, 518.000000)">
									<g id="Icons/18x18/chevron/right" transform="translate(90.000000, 69.000000)">
										<polygon id="Shape" points="0.625 12.1525 5.7775 7 0.625 1.83625 2.21125 0.25 8.96125 7 2.21125 13.75"></polygon>
									</g>
								</g>
							</g>
						</g>
					</svg>
				</a>
				<i class="caselist__profileicon"></i>
			</div>
			<div class="caselist__box caselist--nobg">
				<p class="caselist__balance">
					<span class="caselist__label">Debt Balance</span>
					<span class="caselist__value">£300.00</span>
				</p>
				<p class="caselist__balance">
					<span class="caselist__label">Recoverable</span>
					<span class="caselist__value">£150.00</span>
				</p>
				<p class="caselist__balance">
					<span class="caselist__label">Non-Recoverable</span>
					<span class="caselist__value">£150.00</span>
				</p>
			</div>
			<div class="caselist__info">
				<svg class="caselist__docicon mar-top--7" width="18px" height="11px" viewBox="0 0 18 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
					<title>Agent</title>
					<desc>Created with Sketch.</desc>
					<defs></defs>
					<g id="Accessibility-(1680)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g id="Dashboard---Case-Mgmt---Card-View-(1680)" transform="translate(-543.000000, -740.000000)" fill="#AF1685" fill-rule="nonzero">
							<g id="case-1/3-copy-24" transform="translate(526.000000, 518.000000)">
								<g id="Info" transform="translate(0.000000, 115.000000)">
									<polygon id="Shape" points="17 108.371398 26 117.125 33 110.316643 33 114.78098 35 114.78098 35 107 27 107 27 108.945245 31.59 108.945245 26 114.382205 18.41 107"></polygon>
								</g>
							</g>
						</g>
					</g>
				</svg>
				<h6 class="caselist__infoname">
					<b class="caselist__boldtext">Request Sent:</b> Increase customer
					<span class="caselist__secondline">credit limit by £500 until the 22/01/2018</span>
				</h6>
				<p class="caselist__infotime">YESTERDAY</p>
				<div class="caselist__user">
					<svg class="ver-aln--txtop" width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
						<title>Agent</title>
						<desc>Created with Sketch.</desc>
						<defs></defs>
						<g id="Accessibility-(1680)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g id="Dashboard---Case-Mgmt---Card-View-(1680)" transform="translate(-239.000000, -821.000000)" fill="#888888" fill-rule="nonzero">
								<g id="case-1/3-copy-23" transform="translate(196.000000, 518.000000)">
									<g id="Group-6" transform="translate(43.000000, 303.000000)">
										<path d="M7,12.04 C5.25,12.04 3.703,11.144 2.8,9.8 C2.821,8.4 5.6,7.63 7,7.63 C8.4,7.63 11.179,8.4 11.2,9.8 C10.297,11.144 8.75,12.04 7,12.04 Z M7,2.1 C8.15979797,2.1 9.1,3.04020203 9.1,4.2 C9.1,5.35979797 8.15979797,6.3 7,6.3 C5.84020203,6.3 4.9,5.35979797 4.9,4.2 C4.9,3.04020203 5.84020203,2.1 7,2.1 Z M7,0 C3.13400675,-1.55431223e-15 3.10862447e-16,3.13400675 0,7 C-9.32587341e-16,8.85651543 0.737497883,10.6369928 2.05025253,11.9497475 C3.36300718,13.2625021 5.14348457,14 7,14 C8.85651543,14 10.6369928,13.2625021 11.9497475,11.9497475 C13.2625021,10.6369928 14,8.85651543 14,7 C14,3.129 10.85,0 7,0 Z" id="Shape"></path>
									</g>
								</g>
							</g>
						</g>
					</svg>
					Adam Cross
				</div>
			</div>
		</div>
		<div class="caselist__case" aria-hidden="true">
			<div class="caselist__box">
				<h5 class="caselist__name">David Lister</h5>
				<p class="caselist__number">A0173648</p>
				<a class="caselist__link cur--auto" href="javascript:void(0);" title="+2 related" tabindex="-1">
					+2 related
					<svg class="mar-left--3 ver-aln--mdl" width="9px" height="14px" viewBox="0 0 9 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
						<title>Icons/18x18/chevron/right</title>
						<desc>Created with Sketch.</desc>
						<defs></defs>
						<g id="Accessibility-(1680)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g id="Dashboard---Case-Mgmt---Card-View-(1680)" transform="translate(-286.000000, -587.000000)" fill="#426DA9" fill-rule="nonzero">
								<g id="case-1/3-copy-23" transform="translate(196.000000, 518.000000)">
									<g id="Icons/18x18/chevron/right" transform="translate(90.000000, 69.000000)">
										<polygon id="Shape" points="0.625 12.1525 5.7775 7 0.625 1.83625 2.21125 0.25 8.96125 7 2.21125 13.75"></polygon>
									</g>
								</g>
							</g>
						</g>
					</svg>
				</a>
				<i class="caselist__profileicon"></i>
			</div>
			<div class="caselist__box caselist--nobg">
				<p class="caselist__balance">
					<span class="caselist__label">Debt Balance</span>
					<span class="caselist__value">£300.00</span>
				</p>
				<p class="caselist__balance">
					<span class="caselist__label">Recoverable</span>
					<span class="caselist__value">£150.00</span>
				</p>
				<p class="caselist__balance">
					<span class="caselist__label">Non-Recoverable</span>
					<span class="caselist__value">£150.00</span>
				</p>
			</div>
			<div class="caselist__info">
				<svg class="caselist__docicon mar-top--5" width="17px" height="14px" viewBox="0 0 17 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
					<title>Agent</title>
					<desc>Created with Sketch.</desc>
					<defs></defs>
					<g id="Accessibility-(1680)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g id="Dashboard---Case-Mgmt---Card-View-(1680)" transform="translate(-874.000000, -738.000000)" fill="#AF1685" fill-rule="nonzero">
							<g id="case-1/3-copy-25" transform="translate(856.000000, 518.000000)">
								<g id="Info" transform="translate(0.000000, 115.000000)">
									<g id="ic_folder_shared_24px-copy-3" transform="translate(18.000000, 105.000000)">
										<path d="M15.3,1.75 L8.5,1.75 L6.8,0 L1.7,0 C0.765,0 0.0085,0.7875 0.0085,1.75 L0,12.25 C0,13.2125 0.765,14 1.7,14 L15.3,14 C16.235,14 17,13.2125 17,12.25 L17,3.5 C17,2.5375 16.235,1.75 15.3,1.75 Z M11.15625,4.30769231 C12.0328125,4.30769231 12.75,5.03461538 12.75,5.92307692 C12.75,6.81153846 12.0328125,7.53846154 11.15625,7.53846154 C10.2796875,7.53846154 9.5625,6.81153846 9.5625,5.92307692 C9.5625,5.03461538 10.2796875,4.30769231 11.15625,4.30769231 Z M13.8125,10.7692308 L7.4375,10.7692308 L7.4375,10.0512821 C7.4375,9.09641026 9.56515625,8.61538462 10.625,8.61538462 C11.6848437,8.61538462 13.8125,9.09641026 13.8125,10.0512821 L13.8125,10.7692308 Z" id="Shape"></path>
									</g>
								</g>
							</g>
						</g>
					</g>
				</svg>
				<h6 class="caselist__infoname">
					<b class="caselist__boldtext">New Authorised Party added:</b> Mrs 
					<span class="caselist__secondline">Charlotte Racheal Rose Brown</span>
				</h6>
				<p class="caselist__infotime">3 weeks ago</p>
				<div class="caselist__user">
					<svg class="ver-aln--txtop" width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
						<title>Agent</title>
						<desc>Created with Sketch.</desc>
						<defs></defs>
						<g id="Accessibility-(1680)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g id="Dashboard---Case-Mgmt---Card-View-(1680)" transform="translate(-239.000000, -821.000000)" fill="#888888" fill-rule="nonzero">
								<g id="case-1/3-copy-23" transform="translate(196.000000, 518.000000)">
									<g id="Group-6" transform="translate(43.000000, 303.000000)">
										<path d="M7,12.04 C5.25,12.04 3.703,11.144 2.8,9.8 C2.821,8.4 5.6,7.63 7,7.63 C8.4,7.63 11.179,8.4 11.2,9.8 C10.297,11.144 8.75,12.04 7,12.04 Z M7,2.1 C8.15979797,2.1 9.1,3.04020203 9.1,4.2 C9.1,5.35979797 8.15979797,6.3 7,6.3 C5.84020203,6.3 4.9,5.35979797 4.9,4.2 C4.9,3.04020203 5.84020203,2.1 7,2.1 Z M7,0 C3.13400675,-1.55431223e-15 3.10862447e-16,3.13400675 0,7 C-9.32587341e-16,8.85651543 0.737497883,10.6369928 2.05025253,11.9497475 C3.36300718,13.2625021 5.14348457,14 7,14 C8.85651543,14 10.6369928,13.2625021 11.9497475,11.9497475 C13.2625021,10.6369928 14,8.85651543 14,7 C14,3.129 10.85,0 7,0 Z" id="Shape"></path>
									</g>
								</g>
							</g>
						</g>
					</svg>
					Carrie Fisher
				</div>
			</div>
		</div>
		<div class="caselist__case mar-right--none" aria-hidden="true">
			<div class="caselist__box">
				<h5 class="caselist__name">Chloe Smithson</h5>
				<p class="caselist__number">A1702738</p>
				<a class="caselist__link cur--auto" href="javascript:void(0);" title="+1 related" tabindex="-1">
					+1 related
					<svg class="mar-left--3 ver-aln--mdl" width="9px" height="14px" viewBox="0 0 9 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
						<title>Icons/18x18/chevron/right</title>
						<desc>Created with Sketch.</desc>
						<defs></defs>
						<g id="Accessibility-(1680)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g id="Dashboard---Case-Mgmt---Card-View-(1680)" transform="translate(-286.000000, -587.000000)" fill="#426DA9" fill-rule="nonzero">
								<g id="case-1/3-copy-23" transform="translate(196.000000, 518.000000)">
									<g id="Icons/18x18/chevron/right" transform="translate(90.000000, 69.000000)">
										<polygon id="Shape" points="0.625 12.1525 5.7775 7 0.625 1.83625 2.21125 0.25 8.96125 7 2.21125 13.75"></polygon>
									</g>
								</g>
							</g>
						</g>
					</svg>
				</a>
				<i class="caselist__profileicon"></i>
			</div>
			<div class="caselist__box caselist--nobg">
				<p class="caselist__balance">
					<span class="caselist__label">Debt Balance</span>
					<span class="caselist__value">£300.00</span>
				</p>
				<p class="caselist__balance">
					<span class="caselist__label">Recoverable</span>
					<span class="caselist__value">£150.00</span>
				</p>
				<p class="caselist__balance">
					<span class="caselist__label">Non-Recoverable</span>
					<span class="caselist__value">£150.00</span>
				</p>
			</div>
			<div class="caselist__info">
				<svg class="caselist__docicon" width="14px" height="20px" viewBox="0 0 14 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
					<title>file-document-outline copy</title>
					<desc>Created with Sketch.</desc>
					<defs></defs>
					<g id="Accessibility-(1680)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g id="Dashboard---Case-Mgmt---Card-View-(1680)" transform="translate(-215.000000, -735.000000)" fill="#AF1685" fill-rule="nonzero">
							<g id="case-1/3-copy-23" transform="translate(196.000000, 518.000000)">
								<g id="Info" transform="translate(0.000000, 115.000000)">
									<g id="file-document-outline-copy" transform="translate(19.000000, 102.666667)">
										<path d="M0,1.86666667 L0,16.8 C0,17.8309315 0.783501688,18.6666667 1.75,18.6666667 L12.25,18.6666667 C13.2164983,18.6666667 14,17.8309315 14,16.8 L14,5.6 L8.75,0 L1.75,0 C0.783501688,0 0,0.835735134 0,1.86666667 Z M1.75,1.86666667 L7.875,1.86666667 L7.875,6.53333333 L12.25,6.53333333 L12.25,16.8 L1.75,16.8 L1.75,1.86666667 Z M3.5,9.33333333 L3.5,11.2 L10.5,11.2 L10.5,9.33333333 L3.5,9.33333333 Z M3.5,13.0666667 L3.5,14.9333333 L7.875,14.9333333 L7.875,13.0666667 L3.5,13.0666667 Z" id="Shape"></path>
									</g>
								</g>
							</g>
						</g>
					</g>
				</svg>
				<h6 class="caselist__infoname"><b class="caselist__boldtext">New Arrangement</b></h6>
				<p class="caselist__infotime">2 days ago</p>
				<div class="caselist__user">
					<svg class="ver-aln--txtop" width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
						<title>Agent</title>
						<desc>Created with Sketch.</desc>
						<defs></defs>
						<g id="Accessibility-(1680)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g id="Dashboard---Case-Mgmt---Card-View-(1680)" transform="translate(-239.000000, -821.000000)" fill="#888888" fill-rule="nonzero">
								<g id="case-1/3-copy-23" transform="translate(196.000000, 518.000000)">
									<g id="Group-6" transform="translate(43.000000, 303.000000)">
										<path d="M7,12.04 C5.25,12.04 3.703,11.144 2.8,9.8 C2.821,8.4 5.6,7.63 7,7.63 C8.4,7.63 11.179,8.4 11.2,9.8 C10.297,11.144 8.75,12.04 7,12.04 Z M7,2.1 C8.15979797,2.1 9.1,3.04020203 9.1,4.2 C9.1,5.35979797 8.15979797,6.3 7,6.3 C5.84020203,6.3 4.9,5.35979797 4.9,4.2 C4.9,3.04020203 5.84020203,2.1 7,2.1 Z M7,0 C3.13400675,-1.55431223e-15 3.10862447e-16,3.13400675 0,7 C-9.32587341e-16,8.85651543 0.737497883,10.6369928 2.05025253,11.9497475 C3.36300718,13.2625021 5.14348457,14 7,14 C8.85651543,14 10.6369928,13.2625021 11.9497475,11.9497475 C13.2625021,10.6369928 14,8.85651543 14,7 C14,3.129 10.85,0 7,0 Z" id="Shape"></path>
									</g>
								</g>
							</g>
						</g>
					</svg>
					Michael Roberts
				</div>
			</div>
		</div>
	</div>
</div>