<div class="caselist">
	<h4 class="caselist__visuallyhidden">List of recent cases displayed</h4>
	<div class="caselist__cont" aria-labelledby="caselist__recent">
		<h4 class="caselist__heading" id="caselist__recent">
			Recent Cases
			<button class="btn btn--viewall" tabindex="-1">View All</button>
		</h4>
		<div class="caselist__case" tabindex="3">
			<div class="caselist__box">
				<h5 class="caselist__name">Richard Hedges</h5>
				<p class="caselist__number">A1000010</p>
				<a tabindex="3" class="caselist__link cur--auto" href="javascript:void(0);" title="+1 related">
					+1 related
					<eds-icon class="s18 eds style-scope pcc-eds-timeline-item" icon="keyboard_arrow_right" library="material-icon-font"><i class="api-icon-element material-icons style-scope eds-icon" style="transform: scale(1.35);">keyboard_arrow_right</i></eds-icon>
				</a>
				<i class="caselist__profileicon"></i>
			</div>
			<div class="caselist__box caselist--nobg">
				<p class="caselist__balance">
					<span class="caselist__label">Debt Balance</span>
					<span class="caselist__value">£300.00</span>
				</p>
				<p class="caselist__balance">
					<span class="caselist__label">Recoverable</span>
					<span class="caselist__value">£150.00</span>
				</p>
				<p class="caselist__balance">
					<span class="caselist__label">Non-Recoverable</span>
					<span class="caselist__value">£150.00</span>
				</p>
			</div>
			<div class="caselist__info">
				<i class="caselist__fileicon"></i>
				<h6 class="caselist__infoname"><b class="caselist__boldtext">New Arrangement</b></h6>
				<p class="caselist__infotime">today, 09:42</p>
				<div class="caselist__user">
					<i class="caselist__usericon"></i>
					Martin Flynn
				</div>
			</div>
		</div>
		<div class="caselist__case" aria-hidden="true">
			<div class="caselist__box">
				<h5 class="caselist__name">Christine Kochanski</h5>
				<p class="caselist__number">A1756385</p>
				<a class="caselist__link cur--auto" href="javascript:void(0);" title="+3 related" tabindex="-1">
					+3 related
					<eds-icon class="s18 eds style-scope pcc-eds-timeline-item" icon="keyboard_arrow_right" library="material-icon-font"><i class="api-icon-element material-icons style-scope eds-icon" style="transform: scale(1.35);">keyboard_arrow_right</i></eds-icon>
				</a>
				<i class="caselist__profileicon"></i>
			</div>
			<div class="caselist__box caselist--nobg">
				<p class="caselist__balance">
					<span class="caselist__label">Debt Balance</span>
					<span class="caselist__value">£300.00</span>
				</p>
				<p class="caselist__balance">
					<span class="caselist__label">Recoverable</span>
					<span class="caselist__value">£150.00</span>
				</p>
				<p class="caselist__balance">
					<span class="caselist__label">Non-Recoverable</span>
					<span class="caselist__value">£150.00</span>
				</p>
			</div>
			<div class="caselist__info">
				<i class="caselist__diverticon"></i>
				<h6 class="caselist__infoname">
					<b class="caselist__boldtext">Request Sent:</b> Increase customer
					<span class="caselist__secondline">credit limit by £500 until the 22/01/2018</span>
				</h6>
				<p class="caselist__infotime">today, 09:42</p>
				<div class="caselist__user">
					<i class="caselist__usericon"></i>
					Adam Cross
				</div>
			</div>
		</div>
		<div class="caselist__case" aria-hidden="true">
			<div class="caselist__box">
				<h5 class="caselist__name">David Lister</h5>
				<p class="caselist__number">A0173648</p>
				<a class="caselist__link cur--auto" href="javascript:void(0);" title="+2 related" tabindex="-1">
					+2 related
					<eds-icon class="s18 eds style-scope pcc-eds-timeline-item" icon="keyboard_arrow_right" library="material-icon-font"><i class="api-icon-element material-icons style-scope eds-icon" style="transform: scale(1.35);">keyboard_arrow_right</i></eds-icon>
				</a>
				<i class="caselist__profileicon"></i>
			</div>
			<div class="caselist__box caselist--nobg">
				<p class="caselist__balance">
					<span class="caselist__label">Debt Balance</span>
					<span class="caselist__value">£300.00</span>
				</p>
				<p class="caselist__balance">
					<span class="caselist__label">Recoverable</span>
					<span class="caselist__value">£150.00</span>
				</p>
				<p class="caselist__balance">
					<span class="caselist__label">Non-Recoverable</span>
					<span class="caselist__value">£150.00</span>
				</p>
			</div>
			<div class="caselist__info">
				<i class="caselist__foldericon"></i>
				<h6 class="caselist__infoname">
					<b class="caselist__boldtext">New Authorised Party added:</b> Mrs 
					<span class="caselist__secondline">Charlotte Racheal Rose Brown</span>
				</h6>
				<p class="caselist__infotime">today, 09:42</p>
				<div class="caselist__user">
					<i class="caselist__usericon"></i>
					Carrie Fisher
				</div>
			</div>
		</div>
		<div class="caselist__case mar-right--none" aria-hidden="true">
			<div class="caselist__box">
				<h5 class="caselist__name">Chloe Smithson</h5>
				<p class="caselist__number">A1702738</p>
				<a class="caselist__link cur--auto" href="javascript:void(0);" title="+1 related" tabindex="-1">
					+1 related
					<eds-icon class="s18 eds style-scope pcc-eds-timeline-item" icon="keyboard_arrow_right" library="material-icon-font"><i class="api-icon-element material-icons style-scope eds-icon" style="transform: scale(1.35);">keyboard_arrow_right</i></eds-icon>
				</a>
				<i class="caselist__profileicon"></i>
			</div>
			<div class="caselist__box caselist--nobg">
				<p class="caselist__balance">
					<span class="caselist__label">Debt Balance</span>
					<span class="caselist__value">£300.00</span>
				</p>
				<p class="caselist__balance">
					<span class="caselist__label">Recoverable</span>
					<span class="caselist__value">£150.00</span>
				</p>
				<p class="caselist__balance">
					<span class="caselist__label">Non-Recoverable</span>
					<span class="caselist__value">£150.00</span>
				</p>
			</div>
			<div class="caselist__info">
				<i class="caselist__fileicon"></i>
				<h6 class="caselist__infoname"><b class="caselist__boldtext">New Arrangement</b></h6>
				<p class="caselist__infotime">2 days ago</p>
				<div class="caselist__user">
					<i class="caselist__usericon"></i>
					Michael Roberts
				</div>
			</div>
		</div>
	</div>
</div>