<eds-accordion id="collectionPanel" class="greyHeading eds marginBtm20" background="white" role="tablist" tabindex="-1" aria-hidden="false">
    <eds-accordion-panel label="Collection Information" expandedlabel="Collection Information" active="" role="tab">
        <h5 id="collectionHeading" class="eds-accordion-label cur--auto" tabindex="0">
            <span class="eds-accordion-label-text"> Collection Information </span>
            <span class="eds-accordion-label-text"> Collection Information </span>
            <!-- <span class="eds-accordion-caret"></span> -->
        </h5>
        <div class="table even-style">
            <div class="row">
                <div class="cell">
                    Debt Balance
                </div>
                <div class="cell">
                    £250
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Recoverable
                </div>
                <div class="cell">
                    £100
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Non-Recoverable
                </div>
                <div class="cell">
                    £100
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Civil Penatly
                </div>
                <div class="cell">
                    £250
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Type JSA
                </div>
                <div class="cell">
                    £39.43
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Last Payment Date
                </div>
                <div class="cell">
                    26/05/2018
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Last Payment Amount
                </div>
                <div class="cell">
                    £24.77
                </div>
            </div>
        </div>
    </eds-accordion-panel>
</eds-accordion>