<ul class="tab-labels style-scope eds-tabs" role="tablist" id="tabNav">
        <li role="presentation" class="style-scope eds-tabs">
                <a id="tab-0" onclick="switchParentTab('0')" aria-controls="tab-panel-0" aria-selected="false" href="javascript:void(0);"
                        role="tab" class="style-scope eds-tabs accountsTab" aria-label="A One Zero Zero Zero Zero Five Six">
                        A1000056
                </a>
        </li>
        <li role="presentation" class="style-scope eds-tabs">
                <a id="tab-1" onclick="switchParentTab('1')" aria-controls="tab-panel-1" aria-selected="true" href="javascript:void(0);"
                        role="tab" class="style-scope eds-tabs accountsTab">
                        Profile
                </a>
        </li>
</ul>