<ul class="tab-labels style-scope eds-tabs" role="tablist">
        <li role="presentation" class="style-scope eds-tabs"><a id="tab-0" aria-controls="tab-panel-0"
                aria-selected="true" href="#tab-panel-0" role="tab" class="style-scope eds-tabs">A1000056</a></li>
        <li role="presentation" class="style-scope eds-tabs"><a id="tab-1" aria-controls="tab-panel-1"
                aria-selected="false" href="#tab-panel-1" role="tab" class="style-scope eds-tabs">Profile</a></li>
    </ul>