<header class="header" role="banner" id="header">
        <h1 class="header__logo">
            <a class="header__logolink" href="index.html" title="Experian">Experian</a>
        </h1>
        <a class="header__logodesc" tabindex="0" href="javascript:void(0)" title="Collections link"> Collections </a>
        <nav class="header__nav" role="navigation">
            <ul class="header__listcont">
                <li class="header__list">
                    <a class="header__link" href="javascript:void(0);" title="Search">
                        <img src="../assets/images/search__icon_latest.png" alt="Search Icon" class="header__iconimages" />
                        Search
                    </a>
                </li>
                <li class="header__list">
                    <a class="header__link" href="javascript:void(0);" title="Load Next">
                        <img src="../assets/images/loadnext__iconlatest.png" alt="Load Next Icon" class="header__iconimages" />
                        Load Next
                    </a>
                </li>
                <li class="header__list">
                    <a class="header__link" href="javascript:void(0);" title="View all Caselists">
                        <img src="../assets/images/caselist__iconlatest.png" alt="View all Caselists Icon" class="header__iconimages" />
                        View all Caselists
                    </a>
                </li>
                <li class="header__list bor-left--none">
                    <a class="header__link" href="javascript:void(0);" title="Menu">
                        <img src="../assets/images/menu__iconlatest.png" alt="Menu Icon" class="header__iconimages" />
                    </a>
                </li>
                <li class="header__list bor-left--none">
                    <a class="header__link" href="javascript:void(0);" title="Help">
                        <img src="../assets/images/help__iconlatest.png" alt="Help Icon" class="header__iconimages" />
                    </a>
                </li>
                <li class="header__list bor-left--none pad-top--10">
                    <a class="header__link" href="javascript:void(0);" title="Unread Messages">
                        <img src="../assets/images/message__iconlatest.png" alt="Messages Icon" class="header__iconimages" />
                    </a>
                </li>
                <li class="header__list bor-left--none pad-top--10">
                    <a class="header__link" href="javascript:void(0);" title="Unread Notifications">
                        <img src="../assets/images/notification__iconlatest.png" alt="Notifications Icon" class="header__iconimages" />
                    </a>
                </li>
                <li class="header__list bor-left--none pad-top--10">
                    <a class="header__link" href="javascript:void(0);" title="User Profile">
                        <img src="../assets/images/user__initials.png" alt="User Profile Image" />
                    </a>
                </li>
            </ul>
        </nav>
        <hr aria-hidden="true" tab-index="-1" class="header__hrline">
    </header>