<header class=header>
	<h1 class="header__logo">
		<a class="header__logolink" href="javascript:void(0);" title="Experian">Experian</a>
	</h1>
	<p class="header__logodesc"> Collections </p>
	<nav class="header__nav">
		<ul class="header__listcont">
			<li class="header__list">
				<a class="header__link" href="javascript:void(0);" title="Search">
					<i class="header__searchicon"></i>
					Search
				</a>
			</li>
			<li class="header__list">
				<a class="header__link" href="javascript:void(0);" title="Load Next">
					<i class="header__nexticon"></i>
					Load Next
				</a>
			</li>
			<li class="header__list">
				<a class="header__link" href="javascript:void(0);" title="View all Caselists">
					<i class="header__caselisticon"></i>
					View all Caselists
				</a>
			</li>
			<li class="header__list bor-left--none">
				<a class="header__link" href="javascript:void(0);" title="Menu">
					<i class="header__menuicon"></i>
				</a>
			</li>
			<li class="header__list bor-left--none">
				<a class="header__link" href="javascript:void(0);" title="Help">
					<i class="header__helpicon"></i>
				</a>
			</li>
			<li class="header__list bor-left--none">
				<a class="header__link" href="javascript:void(0);" title="Unread Messges">
					<i class="header__messageicon"></i>
					<span class="header__counter">3</span>
				</a>
			</li>
			<li class="header__list bor-left--none">
				<a class="header__link" href="javascript:void(0);" title="Unread Notifications">
					<i class="header__notificationicon"></i>
					<span class="header__counter">3</span>
				</a>
			</li>
			<li class="header__list bor-left--none">
				<a class="header__link header--userprofile" href="javascript:void(0);" title="User Profile">
					RV
				</a>
			</li>
		</ul>
	</nav>
</header>