<eds-card class="eds eds--promisecont" aria-describedby="promisepay__headingtext" role="form">
    <h1 id="promisepay__headingtext" class="promisepay__heading">Promise to Pay (Instalment)</h1>
    <div class="promisepay__list">
        <label tabindex="0" for="promisepay__inputid" class="promisepay__label">Current Balance</label>
        <input class="promisepay__input promisepay--readonly txt-aln--right promisepay--navtablinkfirst" id="promisepay__inputid" type="text" readonly value="2,485.00" />
        <input class="promisepay__input promisepay--readonly promisepay--navtablinklast bor-left--none" type="text" readonly value="GBP" />
    </div>
    <div class="promisepay__list">
        <label tabindex="0" class="promisepay__label" for="promisepay__requiredattr">
            Arrangement Amount
            <span class="promisepay__required" aria-required="true">*</span>
        </label>
        <input class="promisepay__input txt-aln--right" type="text" required value="" id="promisepay__requiredattr"/>
        <input class="promisepay__input promisepay--readonly promisepay--smlwidth" type="text" readonly value="GBP" />
    </div>
    <div class="promisepay__list">
        <label tabindex="0" class="promisepay__label" for="promisepay__dropdown">Payment Type</label>
        <eds-dropdown class="eds mar-top--none" id="promisepay__dropdown">
            <label class="style-scope eds-dropdown"></label>
            <select class="eds-dropdown-trigger style-scope eds-dropdown" tabindex="0">
                <option class="eds-dropdown-value style-scope eds-dropdown">3. Direct Debit</option>
                <span class="eds-dropdown-placeholder style-scope eds-dropdown"></span>
                <span class="eds-dropdown-arrow style-scope eds-dropdown"></span>
            </select>
        </eds-dropdown>
    </div>
    <div class="promisepay__list">
        <label tabindex="0" class="promisepay__label" for="promisepay__date">Instalment Date</label>
        <input class="promisepay__input promisepay--datefield" type="text" value="" />
        <span class="promisepay__calendar" id="promisepay__date">
            <button class="promisepay__calbutton">
                <img class="promisepay__caldrimg" src="../assets/images/calendar__icon.png" alt="Instalment Date(dd/mm/yyyy)" />
            </button>
        </span>
    </div>
    <div class="promisepay__list">
        <label tabindex="0" class="promisepay__label" for="promisepay__dateoutput" tabindex="0">Review Date</label>
        <p id="promisepay__dateoutput" class="promisepay__output" tabindex="0">02/10/2018</p>
    </div>
    <div class="clear"></div>
</eds-card>
<eds-card class="promisepay__btncont">
    <button aria-label="Ok button to submit form" class="btn btn--ok" onclick="switchParentTab('0', true)">OK</button>
    <button aria-label="Cancel button to cencel form" class="btn btn--cancel" onclick="switchParentTab('0')">Cancel</button>
    <div class="promisepay__help" role="button">
        <img class="promisepay__helpimg" src="../assets/images/question__icon.png" alt="Help link" />
    </div>
</eds-card>