<pcc-eds-secondary-header class="eds container">
    <div class="header-container style-scope pcc-eds-secondary-header" role="tablist" aria-orientation="horizontal">
        <div class="icon-container style-scope pcc-eds-secondary-header" aria-expanded="true" role="tab">
            <a id="goHome" href="index.html" title="Go back to home">
                <eds-icon icon="home" class="s16 home-icon eds style-scope pcc-eds-secondary-header" library="material-icon-font">
                    <svg width="16px" height="14px" viewBox="0 0 16 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
                        <title>Shape</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="✱-/Header/Secondary/Home/default" transform="translate(-23.000000, -18.000000)" fill="#426DA9" fill-rule="nonzero">
                                <polygon id="Shape" points="29.4000002 31.6000004 29.4000002 26.8000002 32.6000003 26.8000002 32.6000003 31.6000004 36.6000004 31.6000004 36.6000004 25.2000002 39.0000004 25.2000002 31.0000002 18 23 25.2000002 25.4000001 25.2000002 25.4000001 31.6000004"></polygon>
                            </g>
                        </g>
                    </svg>
                </eds-icon>
            </a>
        </div>

        <div tabindex="0" class="tabs-container style-scope pcc-eds-secondary-header" aria-expanded="true" role="tab" aria-selected="true">
            <pcc-eds-secondary-header-tab class="eds style-scope pcc-eds-secondary-header" person="James Brown" data-index="0" active="undefined">
                <div class="info-container">
                    <eds-icon icon="person" class="s16 eds" library="material-icon-font">
                        <i class="api-icon-element material-icons style-scope eds-icon" style="transform: scale(1.35);">person</i>
                    </eds-icon>
                    <div class="person-name">James Brown</div>
                </div>
                <div class="tab-controls" aria-controls="close-tab">
                    <div class="timer-icon">
                        <svg style="width:16px;height:16px" viewBox="0 0 24 24">
                            <path d="M12,20A7,7 0 0,1 5,13A7,7 0 0,1 12,6A7,7 0 0,1 19,13A7,7 0 0,1 12,20M19.03,7.39L20.45,5.97C20,5.46 19.55,5 19.04,4.56L17.62,6C16.07,4.74 14.12,4 12,4A9,9 0 0,0 3,13A9,9 0 0,0 12,22C17,22 21,17.97 21,13C21,10.88 20.26,8.93 19.03,7.39M11,14H13V8H11M15,1H9V3H15V1Z" />
                        </svg>
                    </div>
                    <div class="time eds-greyed s12 eds-icon">00:00</div>
                    <div class="eds-icon phone-icon">
                        <svg style="width:18px;height:18px" viewBox="0 0 24 24">
                            <path d="M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z" />
                        </svg>
                    </div>
                    <a id="closeCase" href="index.html" title="Go back to home">
                        <eds-icon icon="close" id="close-tab" class="close-button s12 eds cur--pointer" library="material-icon-font">
                            <svg width="10px" height="8px" viewBox="0 0 10 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
                                <title>Shape</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="✱-/Header/Secondary/Person/default" transform="translate(-349.000000, -21.000000)" fill="#0E6EB7" fill-rule="nonzero" stroke="#0E6EB7">
                                        <polygon id="Shape" points="358 21.8057143 357.194286 21 354 24.1942857 350.805714 21 350 21.8057143 353.194286 25 350 28.1942857 350.805714 29 354 25.8057143 357.194286 29 358 28.1942857 354.805714 25"></polygon>
                                    </g>
                                </g>
                            </svg>
                        </eds-icon>
                    </a>
                </div>
            </pcc-eds-secondary-header-tab>
        </div>
        <a class="account__more cur--auto" href="javascript:void(0);" title="More link to display other options">
            <svg width="16px" height="4px" viewBox="0 0 16 4" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
                <title>Shape</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="✱-/Header/Secondary/Overflow/default" transform="translate(-23.000000, -23.000000)" fill="#426DA9" fill-rule="nonzero">
                        <path d="M25,23 C23.9,23 23,23.9 23,25 C23,26.1 23.9,27 25,27 C26.1,27 27,26.1 27,25 C27,23.9 26.1,23 25,23 Z M37,23 C35.9,23 35,23.9 35,25 C35,26.1 35.9,27 37,27 C38.1,27 39,26.1 39,25 C39,23.9 38.1,23 37,23 Z M31,23 C29.9,23 29,23.9 29,25 C29,26.1 29.9,27 31,27 C32.1,27 33,26.1 33,25 C33,23.9 32.1,23 31,23 Z" id="Shape"></path>
                    </g>
                </g>
            </svg>
        </a>
    </div>
</pcc-eds-secondary-header>