 <pcc-eds-secondary-header class="eds container">
        <div class="header-container style-scope pcc-eds-secondary-header">
            <div class="icon-container style-scope pcc-eds-secondary-header">
                <eds-icon icon="home" class="s16 home-icon eds style-scope pcc-eds-secondary-header" library="material-icon-font"><i
                        class="api-icon-element material-icons style-scope eds-icon" style="transform: scale(1.35);">home</i></eds-icon>
            </div>

            <div class="tabs-container style-scope pcc-eds-secondary-header">
                <pcc-eds-secondary-header-tab class="eds style-scope pcc-eds-secondary-header" person="James Brown"
                    data-index="0" active="undefined">
                    <div class="info-container">
                        <eds-icon icon="person" class="s16 eds" library="material-icon-font"><i class="api-icon-element material-icons style-scope eds-icon"
                                style="transform: scale(1.35);">person</i></eds-icon>
                        <div class="person-name">James Brown</div>
                    </div>
                    <div class="tab-controls">
                        <!-- <eds-icon icon='query_builder' class='s16'></eds-icon>
    <div class="time">00:00</div>
    <eds-icon icon='phone' class='s16'></eds-icon> -->
                        <!-- <eds-button motif='tertiary' icon='close' class='icon-only'></eds-button> -->
                        <eds-icon icon="close" class="close-button s16 eds" library="material-icon-font"><i class="api-icon-element material-icons style-scope eds-icon"
                                style="transform: scale(1.35);">close</i></eds-icon>
                    </div>
                </pcc-eds-secondary-header-tab>
            </div>
        </div>
    </pcc-eds-secondary-header>