 <pcc-eds-secondary-header class="eds container">
        <div class="header-container style-scope pcc-eds-secondary-header">
            <div class="icon-container style-scope pcc-eds-secondary-header">
                <eds-icon icon="home" class="s16 home-icon eds style-scope pcc-eds-secondary-header" library="material-icon-font"><i
                        class="api-icon-element material-icons style-scope eds-icon" style="transform: scale(1.35);">home</i></eds-icon>
            </div>

            <div class="tabs-container style-scope pcc-eds-secondary-header">
                <pcc-eds-secondary-header-tab class="eds style-scope pcc-eds-secondary-header" person="James Brown"
                    data-index="0" active="undefined">
                    <div class="info-container">
                        <eds-icon icon="person" class="s16 eds" library="material-icon-font"><i class="api-icon-element material-icons style-scope eds-icon"
                                style="transform: scale(1.35);">person</i></eds-icon>
                        <div class="person-name">James Brown</div>
                    </div>
                    <div class="tab-controls">
                            <div class="timer-icon">
                            <svg style="width:16px;height:16px" viewBox="0 0 24 24">
                                    <path d="M12,20A7,7 0 0,1 5,13A7,7 0 0,1 12,6A7,7 0 0,1 19,13A7,7 0 0,1 12,20M19.03,7.39L20.45,5.97C20,5.46 19.55,5 19.04,4.56L17.62,6C16.07,4.74 14.12,4 12,4A9,9 0 0,0 3,13A9,9 0 0,0 12,22C17,22 21,17.97 21,13C21,10.88 20.26,8.93 19.03,7.39M11,14H13V8H11M15,1H9V3H15V1Z" />
                                </svg>
                            </div>
                        <div class="time eds-greyed s12 eds-icon">00:00</div>
                            <div class="eds-icon phone-icon">
                                    <svg style="width:14px;height:14px" viewBox="0 0 24 24">
                                            <path d="M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z" />
                                        </svg>
                            </div>
                         <eds-button motif='tertiary' icon='close' class='icon-only'></eds-button>
                        <eds-icon icon="close" class="close-button s12 eds" library="material-icon-font"><i class="api-icon-element material-icons style-scope eds-icon"
                                style="transform: scale(1.35);">close</i></eds-icon>
                    </div>
                </pcc-eds-secondary-header-tab>
            </div>
        </div>
    </pcc-eds-secondary-header>