<eds-accordion id="accountFirstPanel" aria-hidden="false" background="gray" class="eds marginBtm20" role="tablist" tabindex="-1">
    <eds-accordion-panel label="James Brown" expandedlabel="James Brown" active="" role="tab">
        <h5 id="accountFirstHeading" class="eds-accordion-label active cur--auto" tabindex="0">
            <span class="eds-accordion-label-text">Mr James Brown</span>
            <i class="api-icon-element material-icons style-scope eds-icon eds-greyed">person</i>
            <span class="eds-accordion-label-text">Mr James Brown</span>
        </h5>
        <div class="table">
            <div class="row">
                <div class="cell">
                    Vulnerable type
                </div>
                <div class="cell">
                    <eds-tag motif="error" class="eds">Terminally ill</eds-tag>
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Route
                </div>
                <div class="cell eds-greyed">
                    TBC
                </div>
            </div>
        </div>
    </eds-accordion-panel>
</eds-accordion>

<eds-accordion background="gray" class="eds marginBtm20 data" role="tablist" tabindex="0">
    <eds-accordion-panel label="James Brown" expandedlabel="James Brown" active="" role="tab">
        <h5 class="eds-accordion-label active cur--auto" tabindex="-1">
            <span class="eds-accordion-label-text">Mr James Brown</span>
            <i class="api-icon-element material-icons style-scope eds-icon eds-greyed">person</i>
            <span class="eds-accordion-label-text">Mr James Brown</span> 
            <span> 
                <span class="edit-tab">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        width="24" height="22" viewBox="0 0 24 24">
                        <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" /></svg>
                    Edit
                </span> 
            </span>
        </h5>
        <div class="table">
            <div class="row">
                <div class="cell">
                    Title
                </div>
                <div class="cell">
                    Mr
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Forename
                </div>
                <div class="cell">
                    James
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Middle Name
                </div>
                <div class="cell">
                    -
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Surname
                </div>
                <div class="cell">
                    Brown
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Date of Birth
                </div>
                <div class="cell">
                    09/07/1983
                </div>
            </div>
        </div>
    </eds-accordion-panel>
</eds-accordion>