<eds-accordion background="gray" class="eds marginBtm20" role="tablist">
    <eds-accordion-panel label="James Brown" expandedlabel="James Brown" active="" role="tab"><button
            class="eds-accordion-label"><span class="eds-accordion-label-text">James Brown</span><i class="api-icon-element material-icons style-scope eds-icon eds-greyed">person</i><span
                class="eds-accordion-label-text"> James Brown</span></button>
        <div class="table">
            <div class="row">
                <div class="cell">
                    Vulnerable type
                </div>
                <div class="cell">
                    <eds-tag motif="error" class="eds">Terminally ill</eds-tag>
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Route
                </div>
                <div class="cell eds-greyed">
                    TBC
                </div>
            </div>
        </div>
    </eds-accordion-panel>
</eds-accordion>