<pcc-eds-timeline-view class="eds">
        <div class="timeline-wrapper style-scope pcc-eds-timeline-view">
            <div slot="timeline">
                <pcc-eds-timeline-item icon="phone_callback" style="font-weight: bold;" class="eds">
                    <div class="flex-container style-scope pcc-eds-timeline-item">
                        <div class="section-left style-scope pcc-eds-timeline-item">
                            <div slot="slot-left" style="text-align:right">
                                <div style="color:#7a7a7a">TODAY</div>
                                <div>22.09.2017</div>
                                <div>09:42</div>
                            </div>
                        </div>
                        <div class="section-icon style-scope pcc-eds-timeline-item">
                            <div class="icon-circle style-scope pcc-eds-timeline-item">
                                <eds-icon class="s18 eds style-scope pcc-eds-timeline-item" icon="phone_callback"
                                    library="material-icon-font"><i class="api-icon-element material-icons style-scope eds-icon"
                                        style="transform: scale(1.35);">phone_callback</i></eds-icon>
                            </div>
                        </div>
                        <div class="section-main flex-container style-scope pcc-eds-timeline-item">
                            <div class="placeholder-center style-scope pcc-eds-timeline-item">
                                <div slot="slot-header-center">
                                    Inbound Call started
                                </div>
                            </div>
                        </div>
                    </div>
                </pcc-eds-timeline-item>
                <pcc-eds-timeline-item icon="phone_missed" style="font-weight: bold;" class="eds">
                    <div class="flex-container style-scope pcc-eds-timeline-item">
                        <div class="section-left style-scope pcc-eds-timeline-item">
                            <div slot="slot-left" style="text-align:right">
                                <div style="color:#7a7a7a">TODAY</div>
                                <div>22.09.2017</div>
                                <div>09:59</div>
                            </div>
                        </div>
                        <div class="section-icon style-scope pcc-eds-timeline-item">
                            <div class="icon-circle style-scope pcc-eds-timeline-item">
                                <eds-icon class="s18 eds style-scope pcc-eds-timeline-item" icon="phone_missed"
                                    library="material-icon-font"><i class="api-icon-element material-icons style-scope eds-icon"
                                        style="transform: scale(1.35);">phone_missed</i></eds-icon>
                            </div>
                        </div>
                        <div class="section-main flex-container style-scope pcc-eds-timeline-item">
                            <div class="placeholder-center style-scope pcc-eds-timeline-item">
                                <div slot="slot-header-center">
                                    Inbound Call finished
                                </div>
                            </div>
                            <div class="placeholder-right style-scope pcc-eds-timeline-item">

                            </div>
                        </div>
                    </div>
                </pcc-eds-timeline-item>
                <pcc-eds-timeline-item icon="mail_outline" style="font-weight: bold;" class="eds">
                    <div class="flex-container style-scope pcc-eds-timeline-item">
                        <div class="section-left style-scope pcc-eds-timeline-item">
                            <div slot="slot-left" style="text-align:right">
                                <div style="color:#7a7a7a">3 DAYS AGO</div>
                                <div>19.09.2017</div>
                            </div>
                        </div>
                        <div class="section-icon style-scope pcc-eds-timeline-item">
                            <div class="icon-circle style-scope pcc-eds-timeline-item">
                                <eds-icon class="s18 eds style-scope pcc-eds-timeline-item" icon="question-mark-box"
                                    library="material-icon-font"><i class="api-icon-element material-icons style-scope eds-icon"
                                        style="transform: scale(1.35);">help_outline</i></eds-icon>
                            </div>
                        </div>
                        <div class="section-main flex-container style-scope pcc-eds-timeline-item">
                            <div class="placeholder-center style-scope pcc-eds-timeline-item">
                                <div slot="slot-header-center">
                                    Second Reminder sent by Post
                                </div>
                            </div>
                            <div class="placeholder-right style-scope pcc-eds-timeline-item">

                            </div>
                        </div>
                    </div>
                </pcc-eds-timeline-item>
            </div>
        </div>
    </pcc-eds-timeline-view>