
@import 'variables.scss';
// Global CSS here
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}                                                                   
body{
    font-family: 'Roboto';
}
.container{
    max-width: 1600px;
    margin: auto;
}
.dis-flex{
    display: flex;
}
@mixin fontStyling($family, $size, $color) {
   	font-size: $size;
   	font-family: $family;
  	font-weight: normal;
  	color: $color;
}
@mixin headerIcons($width, $height){
	width: $width;
	height: $height;
	float: left;
}

$blackColor: #000000;
$statsColor: #4e4e4e;
$statsDescColor: #7a7a7a;
$blackGreyColor: #333333;
$lightGreyColor: #cccccc;
$lightPinkColor: #dcdcdc;
$frenchBlue: #426da9;
$countColor: #e20000;
$whiteColor: #ffffff;
$whiteLightColor: #f6f6f6;
$brownGreyColor: #888888;
$lightFontColor: #aaaaaa;
$btnBorder: #004590;
$veryLightPink: #dcdcdc;
$blueColor: #006dbd;
$barneyColor: #af1685;
.btn{
	width: 120px;
	padding: 10px 0;
	border-radius: 4px;
	background-color: $frenchBlue;
	border: solid 1px $btnBorder;
	@include fontStyling($family: 'Roboto-Medium', $size: 14px, $color: $whiteColor);
  	text-align: center;
}
.bor-left--{
	&none{
		border-left: none;
	}
}
.mar-right{
	&--none{
		margin-right: 0!important;
	}
}