$color_1: #333333;
$color_2: #ffffff;
$font_family_1: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$background_color_1: #af1685;

/*
 * These variables are available to all components globally and are thus designated with an "eds-" prefix.
 * Components may implement these and pass-through to a local variable name.
 */
/*
 * These variables are available to all components globally and are thus designated with an "eds-" prefix.
 * Components may implement these and pass-through to a local variable name.
 */
pcc-eds-timeline-item {
	font-family: $font_family_1;
	font-size: 12px;
	font-weight: 400;
	color: $color_1;
	.flex-container {
		display: flex;
	}
	.section-left {
		flex: 1;
	}
	.section-icon {
		border-left: 1px solid #d8d8d8;
		margin-left: 53px;
		min-height: 100px;
		padding-right: 30px;
		text-align: center;
		.icon-circle {
			background-color: $background_color_1;
			border-radius: 50%;
			color: $color_2;
			height: 46px;
			line-height: 46px;
			margin-left: -23px;
			padding-left: 5px;
			width: 46px;
		}
	}
	.section-main {
		flex: 5;
		padding-bottom: 10px;
		padding-top: 10px;
		.placeholder-center {
			flex: 2;
		}
		.placeholder-right {
			flex: 1;
		}
	}
}
