
/*
 * These variables are available to all components globally and are thus designated with an "eds-" prefix.
 * Components may implement these and pass-through to a local variable name.
 */
/*
 * These variables are available to all components globally and are thus designated with an "eds-" prefix.
 * Components may implement these and pass-through to a local variable name.
 */

@import './variables.scss';
eds-icon[spin] {
	animation: eds-spin 2s infinite linear;
}
eds-icon {
	display: inline-block;
	line-height: 0 !important;
	margin: 0 6px 0 0;
	vertical-align: text-bottom;
	.material-icons {
		font-size: inherit;
	}
	>* {
		font-size: inherit;
	}
}
eds-icon.s12 {
	>* {
		font-size: 12px;
		vertical-align: bottom;
	}
}
eds-icon.s16 {
	>* {
		font-size: 16px;
		vertical-align: bottom;
	}
}
eds-icon.s18 {
	>* {
		font-size: 18px;
		vertical-align: bottom;
	}
}
eds-icon.s24 {
	>* {
		font-size: 24px;
		vertical-align: bottom;
	}
}
eds-icon.s36 {
	>* {
		font-size: 36px;
		vertical-align: bottom;
	}
}
eds-icon.s48 {
	>* {
		font-size: 48px;
		vertical-align: bottom;
	}
}
eds-icon.s60 {
	>* {
		font-size: 60px;
		vertical-align: bottom;
	}
}
eds-icon[border] {
	padding: 0.8rem;
	border: 4px solid #d8d8d8;
	border-radius: 3px;
}
.phone-icon{
	width: 32px;
    height: 34px;
    background: $btn-color;
	text-align: center;
	border-radius: 3px;
	margin-left:10px;
	position: relative;
	svg{
		fill: $whiteColor;
		position: absolute;
		top: 7px;
		left: 7px;
	}
 }
 .timer-icon{
	 svg{
		vertical-align: text-top;
		fill: $eds-accordian-label-bg;
	 }
	 margin-right: 11.3px;

 }
.eds-icon.time{
	font-size: 12px;
}
.pcc-eds-timeline-view{
	.section-icon .icon-circle{
		padding-top: 3px;
	}
	&.user-call-flow{
		.section-icon .icon-circle{
			padding-top: 0px;
		}
	}
}

@keyframes "eds-spin" {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}