
/*
 * These variables are available to all components globally and are thus designated with an "eds-" prefix.
 * Components may implement these and pass-through to a local variable name.
 */
/*
 * These variables are available to all components globally and are thus designated with an "eds-" prefix.
 * Components may implement these and pass-through to a local variable name.
 */
 @keyframes "eds-spin" {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
eds-icon[spin] {
	animation: eds-spin 2s infinite linear;
}
eds-icon {
	display: inline-block;
	line-height: 0 !important;
	margin: 0 6px 0 0;
	vertical-align: text-bottom;
	.material-icons {
		font-size: inherit;
	}
	>* {
		font-size: inherit;
	}
}
eds-icon.s18 {
	>* {
		font-size: 16px;
		vertical-align: bottom;
	}
}
eds-icon.s24 {
	>* {
		font-size: 24px;
		vertical-align: bottom;
	}
}
eds-icon.s36 {
	>* {
		font-size: 36px;
		vertical-align: bottom;
	}
}
eds-icon.s48 {
	>* {
		font-size: 48px;
		vertical-align: bottom;
	}
}
eds-icon.s60 {
	>* {
		font-size: 60px;
		vertical-align: bottom;
	}
}
eds-icon[border] {
	padding: 0.8rem;
	border: 4px solid #d8d8d8;
	border-radius: 3px;
}
