@import "../styles/variables.scss";
.header{
	padding: 10px 0 0 0; 
	float: left; 
	width: 100%;
	&__logo{
		width: 109px;
		height: 36px;
		margin: 0 15px;
		padding-right: 20px;
		border-right: solid 1px $lightGreyColor;
		float: left;
	}
	&__logolink{
		text-indent: -99999em;
		@include headerIcons($width: 100%, $height: 100%, $imgurl: '../images/experian__logo.png');
	}
	&__logodesc{
		@include fontStyling($family: 'Roboto-Regular', $size: 16px, $color: $blackGreyColor);
		padding: 10px 0;
		float: left;
		text-decoration: none;
	}
	&__nav{
		float: right;
	}
	&__listcont{
		padding: 0;
		margin: 0;
	}
	&__list{
		float: left;
		border-left: solid 1px $lightPinkColor;
		padding: 15px;
	}
	&__link{
		float: left;
		@include fontStyling($family: 'Roboto-Medium', $size: 16px, $color: $frenchBlue);
		text-decoration: none;
		position: relative;
	}
	&__searchicon{
		@include headerIcons($width: 18px, $height: 18px, $imgurl: '../images/search__icon.png');
		margin-right: 5px;
	}
	&__nexticon{
		@include headerIcons($width: 16px, $height: 16px, $imgurl: '../images/loadnext__icon.png');
		margin-right: 5px;
	}
	&__caselisticon{
		@include headerIcons($width: 16px, $height: 16px, $imgurl: '../images/caselist__icon.png');
		margin-right: 5px;
	}
	&__menuicon{
		@include headerIcons($width: 20px, $height: 22px, $imgurl: '../images/menu__icon.png');
	}
	&__helpicon{
		@include headerIcons($width: 22px, $height: 22px, $imgurl: '../images/help__icon.png');
	}
	&__messageicon{
		@include headerIcons($width: 22px, $height: 18px, $imgurl: '../images/message__icon.png');
		margin-top: 3px;
	}
	&__notificationicon{
		@include headerIcons($width: 21px, $height: 22px, $imgurl: '../images/notification__icon.png');
	}
	&__counter{
		position: absolute;
		background: $countColor;
		width: 21px;
	    height: 21px;
	    border-radius: 50%;
	    top: -7px;
	    right: -7px;
		text-align: center;
		@include fontStyling($family: 'Roboto-Medium', $size: 13px, $color: $whiteColor);
	}
	&--userprofile{
		border: solid 2px #426da9;
	    border-radius: 50%;
	    padding: 1px 5px;
	    font-size: 12px;
	}
	&__hrline{
		height: 2px!important;
	  	-webkit-box-sizing: border-box!important;
	  	-moz-box-sizing: border-box!important;
		box-sizing: border-box!important;
		background-position: 0 0, 0 100%!important;
		background-repeat: no-repeat!important;
		-webkit-background-size: 100% 4px!important;
		-moz-background-size: 100% 4px!important;
		background-size: 100% 4px!important;
		background-image: -webkit-linear-gradient(left, $gradientLeftColor 0%, $gradientRightColor 100%), -webkit-linear-gradient(left, $gradientLeftColor 0%, $gradientRightColor 100%)!important;
		background-image: -moz-linear-gradient(left, $gradientLeftColor 0%, $gradientRightColor 100%), -moz-linear-gradient(left, $gradientLeftColor 0%, $gradientRightColor 100%)!important;
		background-image: -o-linear-gradient(left, $gradientLeftColor 0%, $gradientRightColor 100%), -o-linear-gradient(left, $gradientLeftColor 0%, $gradientRightColor 100%)!important;
		background-image: linear-gradient(to right, $gradientLeftColor 0%, $gradientRightColor 100%), linear-gradient(to right, $gradientLeftColor 0%, $gradientRightColor 100%)!important;
		margin: 0;
		float: left;
		width: 100%;
	}
}