@import 'variables.scss';
eds-tabs {
	display: block;
	.tab-labels {
		border-bottom: 1px solid #cccccc;
		width: 100%;
		height: 50px;
		overflow-x: auto;
		margin: 0;
		padding: 0;
		li {
			margin: 0;
			padding: 0;
			display: inline-block;
			text-align: center;
			line-height: 45px;
			a {
				padding: 0 20px;
				width: 100%;
				font-size: 14px;
				font-weight: 500;
				display: block;
				color: $color_1;
				text-decoration: none;
				&:hover {
					border-bottom: 4px solid #d8d8d8;
					color: $color_2;
				}
			}
			a[aria-selected="true"] {
				border-bottom: 4px solid #e63888;
				color: $color_3;
			}
		}
	}
	eds-tab {
		display: none;
		opacity: 0;
		transition: opacity .15s linear;
		&:after {
			content: " ";
			display: table;
		}
		&:before {
			content: " ";
			display: table;
		}
	}
	& [role="tabpanel"]{
		padding-left: 36px;
	}
	eds-tab[active] {
		display: block;
		opacity: 1;
	}
}
eds-tabs[vertical] {
	display: flex;
	.tab-labels {
		height: fit-content;
		flex: 0 0 180px;
		border-right: 1px solid #d8d8d8;
		border-bottom: none;
		li {
			height: 50px;
			line-height: 50px;
			text-align: left;
			display: block;
			overflow: hidden;
			border-top: 1px solid #d8d8d8;
			&:last-child {
				border-bottom: 1px solid #d8d8d8;
			}
			a {
				&:hover {
					border-left: 4px solid #d8d8d8;
					border-bottom: none;
					padding-left: 16px;
				}
			}
			a[aria-selected="true"] {
				border-left: 4px solid #e63888;
				border-bottom: none;
				padding-left: 16px;
			}
		}
	}
}
@media only screen and (max-width: 480px) {
	eds-tabs {
		display: flex;
		.tab-labels {
			height: fit-content;
			flex: 0 0 180px;
			border-right: 1px solid #d8d8d8;
			border-bottom: none;
			li {
				height: 50px;
				line-height: 50px;
				text-align: left;
				display: block;
				overflow: hidden;
				border-top: 1px solid #d8d8d8;
				&:last-child {
					border-bottom: 1px solid #d8d8d8;
				}
				a {
					&:hover {
						border-left: 4px solid #d8d8d8;
						border-bottom: none;
						padding-left: 16px;
					}
				}
				a[aria-selected="true"] {
					border-left: 4px solid #e63888;
					border-bottom: none;
					padding-left: 16px;
				}
			}
		}
	}
}
