$color_1: #6d2077;
$color_2: #333333;
$color_3: #0e6eb7;
$background_color_1: #ffffff;
$background_color_2: #f6f6f6;
$background_color_3: #EDF4FA;
$background_color_4: transparent;
$background_color_5:#ccc;
eds-accordion {
	eds-accordion-panel {
		p {
			transition: padding 100ms ease 0ms, opacity 75ms ease 25ms;
			padding: 0 20px;
			margin: 0;
			font-size: 14px;
			max-height: 0;
			opacity: 0;
		}
		.eds-accordion-caret {
			transition: transform 150ms ease 0ms;
		}
		border-top: 1px solid #cccccc;
		position: relative;
		display: flex;
		flex-direction: column;
		.eds-accordion-label {
			text-align: left;
			border: 0;
			height: 40px;
			padding: 10px 20px;
			background-color: $background_color_2;
			font-weight: 500;
			font-size: 14px;
			font-family: Roboto;
			cursor: pointer;
			&:focus {
				outline: none;
				background-color: $background_color_3;
			}
			&:active {
				outline: none;
			}
			.eds-accordion-label-text {
				&:nth-child(1) {
					display: block;
				}
				&:nth-child(2) {
					display: none;
				}
			}
			.eds-accordion-caret {
				position: absolute;
				right: 20px;
				top: 16px;
				width: 12px;
				height: 8px;
				background-repeat: no-repeat;
				background-size: contain;
				background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSI3cHgiIHZpZXdCb3g9IjAgMCAxMiA3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCA0OC4yICg0NzMyNykgLSBodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2ggLS0+CiAgICA8dGl0bGU+R3JvdXAgMjwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxkZWZzPjwvZGVmcz4KICAgIDxnIGlkPSJQYWdlLTIzIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8ZyBpZD0iR3JvdXAtMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNi4wMDAwMDAsIDEuMDAwMDAwKSByb3RhdGUoLTQ1LjAwMDAwMCkgdHJhbnNsYXRlKC02LjAwMDAwMCwgLTEuMDAwMDAwKSB0cmFuc2xhdGUoMi4wMDAwMDAsIC0zLjAwMDAwMCkiIGZpbGw9IiMwRTZFQjciPgogICAgICAgICAgICA8cmVjdCBpZD0iUmVjdGFuZ2xlLTIiIHg9IjAiIHk9IjAiIHdpZHRoPSIyIiBoZWlnaHQ9IjgiIHJ4PSIxIj48L3JlY3Q+CiAgICAgICAgICAgIDxyZWN0IGlkPSJSZWN0YW5nbGUtMi1Db3B5IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0LjAwMDAwMCwgNy4wMDAwMDApIHJvdGF0ZSg5MC4wMDAwMDApIHRyYW5zbGF0ZSgtNC4wMDAwMDAsIC03LjAwMDAwMCkgIiB4PSIzIiB5PSIzIiB3aWR0aD0iMiIgaGVpZ2h0PSI4IiByeD0iMSI+PC9yZWN0PgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+");
			}
			.edit-tab{
				display: none;
				svg{
					vertical-align: bottom;
					fill:$color_3;
				}
			}
			&.active{
				.edit-tab{
					display: block;
					float: right;
					color: $color_3;
				}
			}
		}
		&:first-child {
			border: 0;
		}
		.table{
			background: $background_color_1;
		}
	}
	eds-accordion-panel[active="true"] {
		p {
			transition: padding 150ms ease 0ms;
			max-height: none;
			padding: 24px 20px;
			opacity: 1;
		}
		min-height: 200px;
		.eds-accordion-label {
			background-color: $background_color_4;
			border-bottom: 1px solid #cccccc;
			margin: 0 20px;
			padding: 10px 0;
			width: auto;
			.eds-accordion-label-text {
				&:nth-child(1) {
					display: none;
				}
				&:nth-child(2) {
					display: block;
				}
			}
			.eds-accordion-sublabel {
				display: block;
			}
			.eds-accordion-caret {
				transform: rotate(180deg);
			}
		}
	}
	eds-accordion-panel[active] {
		p {
			transition: padding 150ms ease 0ms;
			max-height: none;
			padding: 24px 20px;
			opacity: 1;
		}
		//min-height: 200px;
		.eds-accordion-label {
			background-color: $background_color_4;
			border-bottom: 1px solid #cccccc;
			padding: 10px 20px;
			width: auto;
			.eds-accordion-label-text {
				&:nth-child(1) {
					display: none;
				}
				&:nth-child(2) {
					display: block;
				}
			}
			.eds-accordion-sublabel {
				display: block;
			}
			.eds-accordion-caret {
				transform: rotate(180deg);
			}
		}
	}
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border: 1px solid #cccccc;
	border-radius: 6px;
	background-color: $background_color_1;
}
eds-accordion[wide] {
	border-radius: 0;
	eds-accordion-panel {
		.eds-accordion-label {
			padding: 10px 50px;
		}
		.eds-accordion-label-text {
			&:nth-child(1) {
				display: inline-block;
				text-transform: uppercase;
				color: $color_1;
			}
			&:nth-child(2) {
				display: inline-block;
				color: $color_2;
				margin-left: 3px;
			}
		}
		.eds-accordion-caret {
			top: 16px;
			left: 19px;
		}
		p {
			padding: 0 50px;
		}
	}
	eds-accordion-panel[active] {
		.eds-accordion-label {
			border: 0;
			padding: 11px 0;
			margin: 0 50px;
			.eds-accordion-label-text {
				&:nth-child(1) {
					display: inline-block;
				}
				&:nth-child(2) {
					display: inline-block;
				}
			}
		}
		p {
			padding: 24px 50px 48px 50px;
		}
	}
	eds-accordion-panel[active="true"] {
		.eds-accordion-label {
			border: 0;
			padding: 11px 0;
			margin: 0 50px;
			.eds-accordion-label-text {
				&:nth-child(1) {
					display: inline-block;
				}
				&:nth-child(2) {
					display: inline-block;
				}
			}
		}
		p {
			padding: 24px 50px 48px 50px;
		}
	}
}
eds-accordion[wide="true"] {
	border-radius: 0;
	eds-accordion-panel {
		.eds-accordion-label {
			padding: 10px 50px;
		}
		.eds-accordion-label-text {
			&:nth-child(1) {
				display: inline-block;
				text-transform: uppercase;
				color: $color_1;
			}
			&:nth-child(2) {
				display: inline-block;
				color: $color_2;
				margin-left: 3px;
			}
		}
		.eds-accordion-caret {
			top: 16px;
			left: 19px;
		}
		p {
			padding: 0 50px;
		}
	}
	eds-accordion-panel[active] {
		.eds-accordion-label {
			border: 0;
			padding: 11px 0;
			margin: 0 50px;
			.eds-accordion-label-text {
				&:nth-child(1) {
					display: inline-block;
				}
				&:nth-child(2) {
					display: inline-block;
				}
			}
		}
		p {
			padding: 24px 50px 48px 50px;
		}
	}
	eds-accordion-panel[active="true"] {
		.eds-accordion-label {
			border: 0;
			padding: 11px 0;
			margin: 0 50px;
			.eds-accordion-label-text {
				&:nth-child(1) {
					display: inline-block;
				}
				&:nth-child(2) {
					display: inline-block;
				}
			}
		}
		p {
			padding: 24px 50px 48px 50px;
		}
	}
}
.eds-greyed{
	color: $background_color_5;
}
.acct-container {
	.eds-accordion-label{
		.eds-accordion-label-text{
			vertical-align: super;
		}
	}
}
