$color_1: #426da9;
$color_2: #163c6f;
$color_3: #333333;

$icon-color: #426da9;
$font-primary-color: #333333;
$tab-heading-color: #6d2077;
$color_1: #333333;
$color_2: #426da9;
$color_3: #163c6f;
$color_4: #6d2077;
$color_5: #1d4f91;
$font_family_1: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$background_color_1: #f6f6f6;
$background_color_2: transparent;
$background_color_3: #ffffff;
$background_color_4: white;

//mixins
@mixin padding-mixin($number) {
    padding: $number;
  }