$color_1: #426da9;
$color_2: #163c6f;
$color_3: #333333;

$icon-color: #426da9;
$font-primary-color: #333333;
$tab-heading-color: #6d2077;

//mixins
@mixin padding-mixin($number) {
    padding: $number;
  }